html

  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Patrick+Hand")
    link(rel="stylesheet", href="style.css")
    script(src="index.ts")

  body
    noscript MACH DEIN JAVASCRIPT AN
    
    h1(class="title")
      span T
      span H
      span E
      span R
      span M
      span A
      span L
      span G
      span R
      span A
      span M
    
    wired-button Foto machen!