:root {
  --color1: #845ec2;
  --color2: #d65db1;
  --color3: #ff6f91;
  --color4: #ff9671;
  --color5: #ffc75f;
  --color6: #f9f871;
}

html {
  font-size: 16px;
  font-family: 'Patrick Hand', cursive;

  @media screen and (min-width: 900px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.title {
  text-align: center;

  & span:nth-of-type(1) {
    color: #845ec2;
  }

  & span:nth-of-type(2) {
    color: #a260c7;
  }

  & span:nth-of-type(3) {
    color: #c262cd;
  }

  & span:nth-of-type(4) {
    color: #d264c0;
  }

  & span:nth-of-type(5) {
    color: #d866a7;
  }

  & span:nth-of-type(6) {
    color: #dd678c;
  }

  & span:nth-of-type(7) {
    color: #e36970;
  }

  & span:nth-of-type(8) {
    color: #e8856b;
  }

  & span:nth-of-type(9) {
    color: #eea96d;
  }

  & span:nth-of-type(10) {
    color: #f3cf6f;
  }

  & span:nth-of-type(11) {
    color: #f9f871;
  }
}
